.menu{
	width: calc(25% - 2px);
	height: calc(10%);
	float: left;
	text-align: center;
	border-style: groove;
	border-width: 1px;
	border-color: black;
	border-top: none;
	padding-top: 2%;
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
}

.red{
	background-color: red;
}

.borders{
	border-style: groove;
	border-width: 2px;
	border-color: black;
	width: calc(25% - 4px);
	float: left;
	min-height: 25%;
}

#over{
	overflow: auto;
}

.white{
	background-color: white;
}

.brown{
	background-color: #930000;
}

.radient{
  background: linear-gradient(90deg, #ff0404, #a40000, #ff0404);
}

.double{
	border-style: double;
	border-width: 3px;
	border-color: black;
}

.link{
	text-decoration: none;
	color: black;
}

#site_title{
	text-align: center;
	align: middle;
	height: calc(10% - 6px);
	width: calc(100% - 6px);
	margin: 0;
	padding: 0;
}

html{
	width: -webkit-fill-available;
	height: -webkit-fill-available;
	margin: 0;
	padding: 0;
}

body{
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}

main{
	text-align: center;
	height: calc(80% - 2px);
	width: calc(100% - 2px);
	border-style: groove;
	border-width: 1px;
	border-color: black;
	margin: 0;
	padding: 0;
}

p{
	margin: 0;
	font-size: 4vh;
}

div.menu:hover{
	cursor: hand;
	cursor: pointer;
}

footer{
	text-align: center;
	height: calc(10% - 2px);
	width: calc(100% - 2px);
	border-style: groove;
	border-width: 1px;
	border-color: black;
	margin: 0;
	padding: 0;
}